{
  "extends": "airbnb-base",
  "rules": {
    "func-names": "off",
    "no-use-before-define": "off",
    "no-alert": "off",
    "no-restricted-globals": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "globals": {
    "$": false,
    "window": false,
    "alert": false,
    "confirm": false,

    "languages": false,

    "jest": false,
    "describe": false,
    "it": false,
    "beforeEach": false,
    "expect": false
  }
}
