/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.htaccess
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
.settings
.phpunit.result.cache

/tests-jest.xml
/tests-phpunit.xml
/junit.xml

public/js
public/css
resources/assets/vue/vue-i18n-locales.generated.js
