// Just an example of how to change Bootstrap theme colors, it's the default values
$primary_color: #007bff;
$danger_color: #dc3545;
$theme-colors: ("primary": $primary_color, "danger": $danger_color);
