// Just an example of how to change Bootstrap theme colors, it's the default values
$danger_color: #dc3545;
$primary_color: #007bff;
$theme-colors: ("danger": $danger_color, "primary": $primary_color);
