@import 'variables';
@import "~bootstrap/scss/bootstrap";
@import '~font-awesome/scss/font-awesome.scss';
.login {
  height: 100%;
  @import 'login';
}

body {
  background: #eeeeee;
  main.container {
    padding-top: 70px;
  }
  h1 {
    font-size: 35px;
    font-weight: lighter;
  }
  .btn-link {
    cursor: pointer;
  }
  #vue-loading {
    margin: 16px;
  }
}
