@import 'variables';
@import '~bootstrap/scss/bootstrap';
html {
  height: 100%;
}

body {
  background: #eeeeee;
  height: 100%;
  overflow-x: hidden;
  h1 {
    font-size: 35px;
  }
  main.container {
    padding-top: 20px;
  }
  #vue-loading {
    margin: 16px;
  }
  .btn-link {
    cursor: pointer;
  }
}
