@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome.scss';
.login {
  height: 100%;
  @import 'login';
}

body {
  background: #eeeeee;
  h1 {
    font-size: 35px;
  }
  main.container {
    padding-top: 20px;
  }
  #vue-loading {
    margin: 16px;
  }
  .btn-link {
    cursor: pointer;
  }
}
